name: Release

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        check-latest: true
        go-version: 1.21.x
    - name: Cache Go Dependencies
      uses: magnetikonline/action-golang-cache@v5
      with:
        go-version-file: go.mod
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    - name: Publish .deb & .rpm to Gemfury
      env:
        FURY_TOKEN: ${{ secrets.FURY_TOKEN }}
      run: |
        for filename in dist/*.deb; do
          echo "Pushing $filename to apt repository"
          curl -F package=@$filename https://${FURY_TOKEN}@push.fury.io/ysicing/
          curl -F package=@$filename https://${FURY_TOKEN}@push.fury.io/ysicing/
        done
        for filename in dist/*.rpm; do
          echo "Pushing $filename to rpm repository"
          curl -F package=@$filename https://${FURY_TOKEN}@push.fury.io/ysicing/
          curl -F package=@$filename https://${FURY_TOKEN}@push.fury.io/ysicing/
        done

    - run: ./gen.sh
